services:
  bot:
    build: .
    container_name: vocabulary_coach_bot
    restart: always
    environment:
      REDIS_HOST: 127.0.0.1
      REDIS_PORT: "6379"
    volumes:
      - ./:/app
      - ./data:/data
    working_dir: /app
    extra_hosts:
      - "redis:127.0.0.1"
    healthcheck:
      test: ["CMD", "redis-cli", "-h", "127.0.0.1", "-p", "6379", "ping"]
      interval: 30s
      timeout: 3s
      retries: 3
